<h2>Hello from index.erb....</h2>
<p>...lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod blandit turpis, at tempus risus rhoncus in. Maecenas condimentum lacinia ex sed mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>